@charset "utf-8";

body {
    padding: 0;
    margin: 0;
}

.swiper-container.center-slide .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.page-padding {
    min-height: 100vh;
    padding: 120px 0;
    width: 100%
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    will-change: transform
}

.swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0)
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.swiper-container {
    height: 100vh;
    direction: ltr
}

.swiper-container .swiper-slide {
    text-align: center;
    background: transparent;
    background-position: center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative
}

.swiper-container .swiper-slide.no-slides {
    display: flex;
    justify-content: center;
    align-items: center !important
}

.swiper-container.bottom-slide .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 0;
    height: auto
}

.swiper-container .text-container {
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
    transform-style: preserve-3d
}

@media only screen and (min-width: 641px) {
    .swiper-container .text-container {
        max-width: 80%
    }
}

@media only screen and (min-width: 641px) {
    .swiper-container .text-container {
        max-width: 60%
    }
}

.swiper-container h1 {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase
}

.swiper-container p {
    color: #151515;
    margin: 0
}

.swiper-container .text-container p {
    color: #fff
}