@charset "utf-8";

/*----- Stylesheets -----*/

.navbar-nav {
    vertical-align: middle;
    padding-left: 30px;

    display: inline-block;
    cursor: pointer;
    color: #fff;
}

.navbar-nav {
    float: left;
}

.navbar-nav>a  {
    padding-left: 17px;
    padding-right: 17px;
}

/*----- General ----*/
html,
body {
    height: 100%;
    min-height: 100%;
}
html { -webkit-font-smoothing: antialiased; }
body {
    font-weight: 400;
    color: #1c1c1c;
}
a {
    background: transparent;
    outline: none;
    text-decoration: none;

    -webkit-transition: .2s cubic-bezier(0.25,.46,.45,.94);
    transition: .2s cubic-bezier(0.25,.46,.45,.94);
    -webkit-transition-property: background-color,color;
    transition-property: background-color,color;
}
a:active,
a:hover,
a:focus {
    outline: 0;
    color: #9678B6;
    text-decoration: none;
}
a:focus, a:active, button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1425px;
        width: 100%;
        padding: 0 90px;
    }
}
@media (min-width: 768px) and (max-width: 992px)) {
    .container {
        width: 100%;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1;
    color: #1c1c1c;
}
h1 small, h2 small, h3 small {
    font-weight: 200;
    color: #1c1c1c;
}
h4 small, h5 small, h6 small {
    font-weight: 300;
    color: #1c1c1c;
}
h4 {
    font-size: 18px;
    letter-spacing: 1px;
}
p {
    color: #7a7a7a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

/*----- Header -----*/
nav {
    display: block
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
@media (min-width: 1360px and max-width: 1920px) {
    nav { max-width: 1903px; }
}
@media (max-width: 1360px) {
    nav { max-width: 1343px; }
}




html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

::selection {
color: #fff;
background: #9678b6;
text-shadow: none;
}

::-webkit-selection {
  color: #fff;
  background: #9678b6;
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: #9678b6;
  text-shadow: none;
}

body {
    margin: 0
}

article,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

html {
    font-size: 100%;
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}



textarea {
    height: auto;
    min-height: 50px;
    border-radius: 0
}

select {
    width: 100%;
    border-radius: 0
}

.row {
    max-width: 97.5rem;
    margin-left: auto;
    margin-right: auto
}

.row:after,
.row:before {
    content: ' ';
    display: table
}

.row:after {
    clear: both
}

.row .row.collapse {
    margin-left: 0;
    margin-right: 0
}

.row.expanded .row {
    margin-left: auto;
    margin-right: auto
}
.row {
    max-width: 97.5rem;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.row .row {
    max-width: none;
    margin-left: -.625rem;
    margin-right: -.625rem
}

@media screen and (min-width: 40.0625em) {
    .row .row {
        margin-left: -.9375rem;
        margin-right: -.9375rem
    }
}

.row.expanded {
    max-width: none
}

blockquote,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
    margin: 0;
    padding: 0
}

p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility
}

em,
i {
    font-style: italic
}

b,
em,
i,
strong {
    line-height: inherit
}

b,
strong {
    font-weight: 700
}

small {
    font-size: 80%;
    line-height: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.4
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    color: #cacaca;
    line-height: 0
}

h1 {
    font-size: 1.5rem
}

h2 {
    font-size: 1.25rem
}

h3 {
    font-size: 1.1875rem
}

h4 {
    font-size: 1.125rem
}

h5 {
    font-size: 1.0625rem
}

h6 {
    font-size: 1rem
}

@media screen and (min-width: 40.0625em) {
    h1 {
        font-size: 3rem
    }
    h2 {
        font-size: 2.5rem
    }
    h3 {
        font-size: 1.9375rem
    }
    h4 {
        font-size: 1.5625rem
    }
    h5 {
        font-size: 1.25rem
    }
    h6 {
        font-size: 1rem
    }
}

a {
    color: #2199e8;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer
}

hr {
    max-width: 97.5rem;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    margin: 1.25rem auto;
    clear: both
}

dl,
ol,
ul {
    line-height: 1.6;
    margin-bottom: 1rem;
    list-style-position: outside
}

li {
    font-size: inherit
}

ul {
    list-style-type: disc
}

ol,
ul {
    margin-left: 1.25rem
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-left: 1.25rem;
    margin-bottom: 0
}

dl {
    margin-bottom: 1rem
}

dl dt {
    margin-bottom: .3rem;
    font-weight: 700
}

blockquote {
    margin: 0 0 1rem;
    padding: .5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #cacaca
}

blockquote,
blockquote p {
    line-height: 1.6;
    color: #8a8a8a
}

cite {
    display: block;
    font-size: .8125rem;
    color: #8a8a8a
}

cite:before {
    content: '\2014 \0020'
}

abbr {
    color: #0a0a0a;
    cursor: help;
    border-bottom: 1px dotted #0a0a0a
}

html {
    height: 100%
}

body {
    padding: 0;
    margin: 0;
    position: static;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth
}

@media only screen and (min-width: 48.063em) {
    body {
        position: relative
    }
}

body div,
body dl,
body dt,
body dd,
body ul,
body ol,
body li,
body pre,
body form,
body p,
body th,
body td {
    font-size: inherit;
}

body p {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased
}

body strong {
    font-weight: 600
}

figure {
    margin: 0
}

a {
    color: #151515;
    outline: 0;
    text-decoration: none
}

a:focus {
    color: #151515
}

a:hover {
    color: #9678b6
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #151515;
    margin-top: 0;
    font-weight: 600;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased
}

.quick-transition,
a,
.swiper-container .text-container,
.swiper-container h1,
.swiper-container p,
#footer .left-side .footer-menu li+li:before {
    -moz-transition: all .25s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .25s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .25s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .25s cubic-bezier(0.77, 0, 0.175, 1)
}

.social {
    vertical-align: middle;
    -moz-transition: color .25s cubic-bezier(0.77, 0, 0.175, 1), background .25s cubic-bezier(0.77, 0, 0.175, 1), border .25s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: color .25s cubic-bezier(0.77, 0, 0.175, 1), background .25s cubic-bezier(0.77, 0, 0.175, 1), border .25s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: color .25s cubic-bezier(0.77, 0, 0.175, 1), background .25s cubic-bezier(0.77, 0, 0.175, 1), border .25s cubic-bezier(0.77, 0, 0.175, 1);
    transition: color .25s cubic-bezier(0.77, 0, 0.175, 1), background .25s cubic-bezier(0.77, 0, 0.175, 1), border .25s cubic-bezier(0.77, 0, 0.175, 1)
}

.social:hover {
    vertical-align: middle;
    color: #9678B6
}

.swiper-container.center-slide .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

@media only screen and (min-width: 641px) {
    .page-padding {
        padding: 80px 0
    }
}

@media only screen and (min-width: 1361px) {
    .page-padding {
        padding: 110px 0
    }
}

.page-padding.max {
    max-height: 100vh
}

.page-padding.collection-style4 {
    min-height: 0;
    height: 100vh
}


html.overflow-off {
    overflow: hidden;
    height: 100%
}

#wrapper {
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden
}

.row {
    min-width: 100%
}

.row.max-width {
    min-width: 0
}

@media only screen and (min-width: 64.063em) {
    .row.masonry-blog .columns {
        padding: 0 20px
    }
}

.row.full-width-row {
    max-width: none
}

.row.full-width-row.with-padding {
    padding: 0 15px
}

@media only screen and (min-width: 48.063em) {
    .row.full-width-row.with-padding {
        padding: 0 20px
    }
}

h1 {
    font-size: 24px;
    line-height: 1.135;
    margin-bottom: 20px;
    font-weight: 600
}

@media only screen and (min-width: 64.063em) {
    h1 {
        font-size: 50px
    }
}

@media only screen and (min-width: 80em) {
    h1 {
        font-size: 80px
    }
}

h2 {
    font-size: 22px;
    line-height: 1.135;
    margin-bottom: 20px;
    font-weight: 600
}

@media only screen and (min-width: 64.063em) {
    h2 {
        font-size: 42px
    }
}

@media only screen and (min-width: 80em) {
    h2 {
        font-size: 60px
    }
}

h3 {
    font-size: 20px;
    line-height: 1.135;
    margin-bottom: 20px;
    font-weight: 600
}

@media only screen and (min-width: 64.063em) {
    h3 {
        font-size: 30px
    }
}

@media only screen and (min-width: 80em) {
    h3 {
        font-size: 40px
    }
}

h4 {
    font-size: 18px;
    line-height: 1.135;
    margin-bottom: 20px;
    font-weight: 600
}

@media only screen and (min-width: 64.063em) {
    h4 {
        font-size: 24px
    }
}

h5 {
    font-size: 16px;
    line-height: 1.135;
    margin-bottom: 20px;
    font-weight: 600
}

@media only screen and (min-width: 64.063em) {
    h5 {
        font-size: 18px
    }
}

h6 {
    font-size: 14px;
    line-height: 1.135;
    margin-bottom: 10px;
    font-weight: 600
}

hr {
    border-color: #eee
}

ul,
ol {
    margin-left: 0;
    list-style-position: inside;
    font-size: inherit
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-left: 15px
}

ul li, 
ol li {
    margin-bottom: 10px
}

ul li:last-child,
ol li:last-child {
    margin: 0
}

ol {
    counter-reset: item;
    list-style: none
}

ol li:before {
    content: counter(item);
    counter-increment: item;
    color: #151515;
    display: inline-block;
    height: 28px;
    line-height: 24px;
    margin-right: 10px;
    width: 28px;
    border: 2px solid #151515;
    background: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    border-radius: 14px
}

.rtl ol li:before {
    margin-right: 0;
    margin-left: 10px
}

ol li ul {
    margin-top: 10px;
    margin-left: 40px;
    list-style-type: initial
}

ol li ul li:before {
    display: none
}

ol li ol {
    margin-top: 10px;
    margin-left: 40px
}

ol li ol li:before {
    content: counter(item);
    counter-increment: item;
    color: 1;
    display: inline-block;
    height: 28px;
    line-height: 24px;
    margin-right: 10px;
    width: 28px;
    border: 2px solid #151515;
    background: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    border-radius: 14px
}

.rtl ol li ol li:before {
    margin-right: 0;
    margin-left: 10px
}

blockquote {
    position: relative;
    clear: both;
    padding: 37px 15px;
    margin: 10px 0;
    text-align: center;
    border: 0
}

@media only screen and (min-width: 48.063em) {
    blockquote {
        padding: 37px;
        margin: 20px 0
    }
}

blockquote p {
    font-size: 18px;
    font-weight: 500;
    color: #151515;
    line-height: 1.16;
    text-transform: uppercase;
    margin: 0
}

@media only screen and (min-width: 48.063em) {
    blockquote p {
        font-size: 24px
    }
}

blockquote cite {
    color: #151515;
    font-size: 12px
}

cite {
    font-weight: 500;
    font-size: 14px;
    color: #151515;
    font-style: normal;
    line-height: 1;
    margin-top: 20px
}

cite:before {
    display: none
}

.photo-caption {
    font-size: 46px;
    color: #fff;
    margin-top: 10px;
    -moz-transition: color .25s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: color .25s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: color .25s cubic-bezier(0.77, 0, 0.175, 1);
    transition: color .25s cubic-bezier(0.77, 0, 0.175, 1)
}

@media only screen and (min-width: 641px) {
    .photo-caption {
        margin-top: 25px
    }
}

.photo-caption em {
    font-style: normal;
    color: #fff;
    margin-right: 10px;
    -moz-transition: color .25s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: color .25s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: color .25s cubic-bezier(0.77, 0, 0.175, 1);
    transition: color .25s cubic-bezier(0.77, 0, 0.175, 1)
}


.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    will-change: transform
}

.swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0)
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.swiper-container {
    height: 100vh;
    direction: ltr
}

.swiper-container .swiper-slide {
    text-align: center;
    background: transparent;
    background-position: center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative
}

.swiper-container .swiper-slide.no-slides {
    display: flex;
    justify-content: center;
    align-items: center !important
}

.swiper-container.bottom-slide .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 0;
    height: auto
}

.swiper-container .text-container {
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
    transform-style: preserve-3d
}

@media only screen and (min-width: 641px) {
    .swiper-container .text-container {
        max-width: 80%
    }
}

@media only screen and (min-width: 641px) {
    .swiper-container .text-container {
        max-width: 60%
    }
}

.swiper-container h1 {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase
}

.swiper-container p {
    color: #151515;
    margin: 0
}

.swiper-container .btn {
    margin-top: 40px
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0 9px 9px;
    z-index: 50;
    line-height: 1
}

@media only screen and (min-width: 641px) {
    #footer {
        padding: 0 14px 14px
    }
}

#footer .row {
    max-width: 100%;
    margin: 0
}

#footer .row .columns {
    padding: 0
}

#footer .left-side {
    font-size: 20px;
    vertical-align: bottom;
    display: none;
}

.copyright {
    font-size: 14px;
    color: #fff;
}

@media only screen and (min-width: 641px) {
    #footer .left-side {
        display: block;
        font-size: 40px;
    }
    .copyright {
        font-size: 17px;
    }
}

@media screen and (max-width: 1361px) and (min-width: 641px) 
{
    #footer .left-side {
        display: block;
        font-size: 15px;
    }
    .copyright {
        font-size: 9px;
    }
}

#footer .left-side .footer-menu {
    margin: 0;
    padding: 0;
    line-height: 1
}

#footer .left-side .footer-menu li {
    display: inline-block;
    margin: 0
}

#footer .left-side .footer-menu li+li {
    padding-left: 18px;
    position: relative
}

#footer .left-side .footer-menu li+li:before {
    content: '/';
    position: absolute;
    left: 4px;
    top: 0
}

#footer .right-side {
    text-align: center;
    width: 100%;
}

#footer .right-side a {
    display: inline-block;
    padding: 0 4px
}

@media screen and (min-width: 1361px)
{
    #footer .right-side {
        flex: 1;
        max-width: 100%;
        font-size: 60px;
        text-align: right;
    }

    .myfaicon {
        height: 60px;
        width: 60px;
    }
    #footer .right-side a {
        padding: 0 2px
    }
}

@media screen and (max-width: 1361px) and (min-width: 641px) 
{
    #footer .right-side {
        flex: 1;
        max-width: 100%;
        font-size: 29px;
        text-align: right;
    }

    .myfaicon {
        height: 38px;
        width: 38px;
    }
    #footer .right-side a {
        padding: 0 1px
    }
}

@media screen and (max-width: 641px) {
    #footer .right-side {
        flex: 1;
        max-width: 100%;
        font-size: 40px;
        padding-bottom: 50px;
        display: none;
    }

    .myfaicon {
        height: 38px;
        width: 38px;
    }
}

a:not(:hover):not(.btn):not(.button),
#footer .left-side .footer-menu li+li:before {
    color: #fff
}

.swiper-container .text-container p {
    color: #fff
}

label {
    color: #fff
}