/* -------------------------------------------------------------------

                        0. General Styles

-------------------------------------------------------------------*/

body {
    color: #727272;
    font-size: 16px;
    overflow-x: hidden;
}

/*-------------------------------------------------------------------

                        4. Page Content

-------------------------------------------------------------------*/

.content-blocks {
    position: fixed;
    width: 70%;
    height: 100vh;
    opacity: 0.5;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 100%;
    left: 30%;
    background: #FFF;
    transition: opacity 0.7s ease-out;
    z-index: 1;
}

.content-blocks.showx {
	opacity: 1;
    top: 0;
}

.home-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.menu4 .content-blocks {
    width: 80%;
    left: 20%;
}

.content {
    position: relative;
    padding: 120px 70px 30px;
    height: auto;
    overflow: hidden;
}

.content-blocks.pop {
    left: 100%;
    opacity: 0.3;
    top: 0;
    transition: all 0.3s ease-out;
}

.content-blocks.pop.showx {
    left: 30%;
    opacity: 1;
}

.menu4 .content-blocks.pop.showx {
    left: 20%;
}

.content-blocks.pop .content {
    padding-top: 110px;
}

.block-content {
    margin: 0 0 70px;
    overflow: hidden;
}

.block-title {
    font-size: 24px;
    text-transform: uppercase;
    color: #333;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    font-weight: 600;
}