/* -------------------------------------------------------------------

                        0. General Styles

-------------------------------------------------------------------*/

body {
    color: #727272;
    font-size: 16px;
    overflow-x: auto;
}