/* ================= CARDS ================== */

.card {
    border-radius: 2px;
    box-shadow: none;
    background-color: #fff;
    margin: 0px;
    position: relative;
    z-index: 1;
    border: 0 none;
    -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.card-title {
    margin-bottom: 1rem;
    font-weight: bold;
}

.card img {
    max-width: 100%;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 2.5rem;
}

.card-body p {
    margin: 0px;
}

.card-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    -webkit-transition: border 200ms ease;
    -moz-transition: border 200ms ease;
    -o-transition: border 200ms ease;
    -ms-transition: border 200ms ease;
    transition: border 200ms ease;
}

.card-border.no-thumb {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-excerpt p,
.card-body p {
    font-size: 1rem;
}

.card .card-footer {
    padding: 1.5rem 2.5rem;
    background: transparent;
    border-top-color: rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 1.4;
}

.card .fa-circle {
    font-size: 0.3rem;
    vertical-align: 0.15rem;
    width: 15px;
    text-align: center;
}

.card-reading .fa {
    width: 20px;
    text-align: center;
}

.card .card-footer a {
    color: inherit;
}

.card .card-footer a:hover {
    color: #51cbce;
}

.card .card-footer div {
    display: inline-block;
}


.card.card-horizontal {
    margin-bottom: 60px;
}

.card-horizontal .card-body {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0;
}

.card-horizontal .card-body .card-title {
    margin-bottom: 1.5rem;
}

.card-horizontal-left,
.card-horizontal-right {
    display: table-cell;
    vertical-align: top;
}

.card-horizontal-left {
    width: 61.8%;
    padding: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    -webkit-transition: border 200ms ease;
    -moz-transition: border 200ms ease;
    -o-transition: border 200ms ease;
    -ms-transition: border 200ms ease;
    transition: border 200ms ease;
}


.card-horizontal-left.no-thumb {
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.card-horizontal-right {
    position: relative;
    width: 38.2%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.02);
}

.card-horizontal-right a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.card-small .card-title {
    margin: 0;
    font-size: 1.45rem;
}

.card-small .card-body {
    padding: 1.5rem;
}

.card-small .card-footer {
    padding: 1.5rem;
}

/* ================= MEDIA QUERIES ================== */

@media only screen and (max-width: 1399px) {
    .card-horizontal-left,
    .card-body {
        padding: 2rem;
    }
    .card .card-footer {
        padding: 1.5rem 2rem;
    }
    .card-small .card-footer {
        padding: 1.5rem;
    }
}

@media only screen and (max-width: 1199px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 991px) {
    h1,
    .h1 {
        font-size: 2.15rem;
    }

    h2,
    .h2 {
        font-size: 1.9rem;
    }
    .card-horizontal .card-body {
        display: flex;
        flex-direction: column-reverse;
    }

    .card-horizontal-left,
    .card-horizontal-right {
        display: block;
        width: 100%;
    }
    .card-horizontal-left {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .card-horizontal-right {
        height: 400px
    }
}


@media only screen and (max-width: 767px) {
    .card-horizontal-right {
        height: 300px;
    }
}

@media only screen and (max-width: 575px) {
    html {
        font-size: 14px;
    }
    blockquote {
        margin: 2rem 0;
        font-size: 100%;
    }
    .card-horizontal-right {
        height: 250px
    }
    .card.card-horizontal {
        margin-bottom: 40px;
    }
    hr {
        margin-top: 40px;
        margin-bottom: 35px;
    }
}